/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7-apr-2016, 10.12.16
    Author     : alessandra
*/

body
{
    /*Imposto uno sfondo e un font*/
    background-image: url('img/background.jpg');
    font: 1em "Open Sans", Arial, sans-serif;
    /*height: 100%;*/
}

h1, h2, h3
{
    margin: 0px;
    color: blue;
}

h1, h2{
    text-align: center;
}

a:link
{
    text-decoration: underline;
    color: purple;
}

a:visited
{
    text-decoration: underline;
    color: purple;
}

a:hover
{
    font-weight: bold;
}

/*Imposto la separazione dei campi dei form*/
label::after, label::before {
    content: '\A';
    white-space: pre;
}

/*Bordi della tabella*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
th{
    font-size: 1.5em;
    font-family: "Times New Roman", Times, serif;  
}

/*Alterno gli sfondi per le righe*/
tr:nth-child(even){
    background-color: #9999ff;
}

tr:nth-child(odd){
    background-color: #ccccff;
}

/*Centro i form e i rispettivi pulsanti*/
.form, #loginSubmit, #nuovoOggettoSubmit {
    text-align: center;
}

/*Rendo i pulsanti più gradevoli e corenti con lo sfondo*/
input[type=submit], input[type=reset]{
    background-color: #3d3d4c;
    color: #dbdbff;
    cursor: pointer;
}

/*Effettuo lo stesso con i campi del form*/
.form input[type=text], .form input[type=password], .form input[type=url], .form input[type=number], .form textarea{
    border: 2px #9999ff solid;
    box-sizing: border-box;
    background-color: #ccccff;
    color: #000030;
    cursor: pointer;
}

/*Differenzio la vista in base al focus*/
.form input[type=text]:focus, .form input[type=password]:focus, .form input[type=url]:focus, .form input[type=number]:focus, .form textarea:focus{
    border: 2px red solid;
    background-color: white;
}

header{
    text-align: center;
    width: 100%;
}

#page{
    position: relative;
}

footer {
    position: relative;
    height: 30px;
    padding: 5px;
    text-align: center;
    width: 100%;
    background-color: #3d3d4c;
}

footer a{
    heigth:40px;
    padding: 5px;
}

@media only screen and (min-width: 1024px) {
    #sidebarSinistra{
        position: absolute;
        float: left;
        width: 13%;
        height: 100%;
        background-color: #9999ff;
        margin-right: 2%;
    }
    
    #sidebarDestra{
        float: right;
        position: absolute;
        left: 87%;
        width: 13%;
        height: 100%;
        background-color: #9999ff;
        margin-left: 2%;
    }

    #content{
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (min-width: 480px)and (max-width: 1024px){
    
}

@media only screen and (max-width: 480px) {

}